USE [master]
GO
/****** Object:  Database [db_Airport]    Script Date: 15/05/2019 10:37:07 ******/
CREATE DATABASE [db_Airport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Airport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_Airport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_Airport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_Airport_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Airport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Airport]
GO
/****** Object:  Table [dbo].[tbl_Airplane]    Script Date: 15/05/2019 10:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Airplane](
	[idtbl_Airplane] [int] IDENTITY(1,1) NOT NULL,
	[ModelNumber] [varchar](255) NOT NULL,
	[Capacity] [int] NULL,
	[Name] [varchar](255) NULL,
 CONSTRAINT [PK_tbl_Airplane] PRIMARY KEY CLUSTERED 
(
	[idtbl_Airplane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Airport]    Script Date: 15/05/2019 10:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Airport](
	[idtbl_Airport] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[idtbl_City] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Airport] PRIMARY KEY CLUSTERED 
(
	[idtbl_Airport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 15/05/2019 10:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[idtbl_Booking] [int] IDENTITY(1,1) NOT NULL,
	[idtbl_Crew] [int] NULL,
	[idtbl_Flight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idtbl_Booking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 15/05/2019 10:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[idtbl_City] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Country] [varchar](255) NULL,
 CONSTRAINT [PK__tbl_City__108D633FFF45D6A0] PRIMARY KEY CLUSTERED 
(
	[idtbl_City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 15/05/2019 10:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[idtbl_Company] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Symbol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Company] PRIMARY KEY CLUSTERED 
(
	[idtbl_Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Crew]    Script Date: 15/05/2019 10:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Crew](
	[idtbl_Crew] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[EmailAddress] [varchar](255) NOT NULL,
	[BirthdayDate] [date] NOT NULL,
	[CaptainCrew] [bit] NULL,
 CONSTRAINT [PK_tbl_Passenger] PRIMARY KEY CLUSTERED 
(
	[idtbl_Crew] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Flight]    Script Date: 15/05/2019 10:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Flight](
	[idtbl_Flight] [int] IDENTITY(1,1) NOT NULL,
	[FlightNumber] [varchar](255) NOT NULL,
	[FromCity] [int] NOT NULL,
	[ToCity] [int] NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[ArrivalDate] [datetime] NOT NULL,
	[idtbl_Airplane] [int] NOT NULL,
	[idtbl_Company] [int] NOT NULL,
	[StopOver] [bit] NULL,
	[Status] [varchar](255) NULL,
	[idRoute] [int] NULL,
	[ArrivalAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idtbl_Flight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Route]    Script Date: 15/05/2019 10:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Route](
	[idRoute] [int] IDENTITY(1,1) NOT NULL,
	[idtbl_Company] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Route] PRIMARY KEY CLUSTERED 
(
	[idRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Airplane] ON 

INSERT [dbo].[tbl_Airplane] ([idtbl_Airplane], [ModelNumber], [Capacity], [Name]) VALUES (1, N'111', 21, N'2123')
INSERT [dbo].[tbl_Airplane] ([idtbl_Airplane], [ModelNumber], [Capacity], [Name]) VALUES (2, N'CRV', 200, N'Aerospatiale (Sud Aviation) Se.210 Caravelle')
INSERT [dbo].[tbl_Airplane] ([idtbl_Airplane], [ModelNumber], [Capacity], [Name]) VALUES (3, N'AT4', 150, N'Aerospatiale/Alenia ATR 42-300')
GO
SET IDENTITY_INSERT [dbo].[tbl_Airplane] OFF
SET IDENTITY_INSERT [dbo].[tbl_Airport] ON 

INSERT [dbo].[tbl_Airport] ([idtbl_Airport], [Name], [idtbl_City]) VALUES (937, N'KABUL', 1)
INSERT [dbo].[tbl_Airport] ([idtbl_Airport], [Name], [idtbl_City]) VALUES (938, N'ANCHORAGE INTL', 2)
INSERT [dbo].[tbl_Airport] ([idtbl_Airport], [Name], [idtbl_City]) VALUES (939, N'ELMENDORF', 3)
GO
SET IDENTITY_INSERT [dbo].[tbl_Airport] OFF
SET IDENTITY_INSERT [dbo].[tbl_City] ON 

INSERT [dbo].[tbl_City] ([idtbl_City], [Name], [Country]) VALUES (1, N'KABUL', N'AFGHANISTAN')
INSERT [dbo].[tbl_City] ([idtbl_City], [Name], [Country]) VALUES (2, N'ANCHORAGE INTL', N'ALASKA')
INSERT [dbo].[tbl_City] ([idtbl_City], [Name], [Country]) VALUES (3, N'ANCHORAGE ELMENDORF', N'ALASKA')
GO
SET IDENTITY_INSERT [dbo].[tbl_City] OFF
INSERT [dbo].[tbl_Company] ([idtbl_Company], [Name], [Symbol]) VALUES (1, N'Africa Middle East', N'Afst')
INSERT [dbo].[tbl_Company] ([idtbl_Company], [Name], [Symbol]) VALUES (2, N'Emirates Airline', N'Emine')
INSERT [dbo].[tbl_Company] ([idtbl_Company], [Name], [Symbol]) VALUES (3, N'Qatar Airways', N'Qaays')
INSERT [dbo].[tbl_Crew] ([idtbl_Crew], [Name], [EmailAddress], [BirthdayDate], [CaptainCrew]) VALUES (1, N'James Butt', N'jbutt@gmail.com', CAST(N'2001-05-01' AS Date), 1)
INSERT [dbo].[tbl_Crew] ([idtbl_Crew], [Name], [EmailAddress], [BirthdayDate], [CaptainCrew]) VALUES (2, N'Josephine Darakjy', N'josephine_darakjy@darakjy.org', CAST(N'1940-02-10' AS Date), 1)
INSERT [dbo].[tbl_Crew] ([idtbl_Crew], [Name], [EmailAddress], [BirthdayDate], [CaptainCrew]) VALUES (3, N'Art Venere', N'art@venere.org', CAST(N'1942-08-07' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Flight] ON 

INSERT [dbo].[tbl_Flight] ([idtbl_Flight], [FlightNumber], [FromCity], [ToCity], [DepartureDate], [ArrivalDate], [idtbl_Airplane], [idtbl_Company], [StopOver], [Status], [idRoute], [ArrivalAt]) VALUES (5, N'AIINA     1', 937, 1217, CAST(N'2019-01-12T17:00:00.000' AS DateTime), CAST(N'2019-01-17T20:30:00.000' AS DateTime), 9, 7, 0, N'prepare', NULL, NULL)
INSERT [dbo].[tbl_Flight] ([idtbl_Flight], [FlightNumber], [FromCity], [ToCity], [DepartureDate], [ArrivalDate], [idtbl_Airplane], [idtbl_Company], [StopOver], [Status], [idRoute], [ArrivalAt]) VALUES (7, N'AIINA     2', 1217, 937, CAST(N'2019-02-12T17:00:00.000' AS DateTime), CAST(N'2019-02-17T20:30:00.000' AS DateTime), 9, 7, 0, N'prepare', NULL, NULL)
INSERT [dbo].[tbl_Flight] ([idtbl_Flight], [FlightNumber], [FromCity], [ToCity], [DepartureDate], [ArrivalDate], [idtbl_Airplane], [idtbl_Company], [StopOver], [Status], [idRoute], [ArrivalAt]) VALUES (8, N'AIINA     3', 1217, 937, CAST(N'2019-02-12T17:00:00.000' AS DateTime), CAST(N'2019-02-17T20:30:00.000' AS DateTime), 9, 7, 0, N'prepare', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Flight] OFF
SET IDENTITY_INSERT [dbo].[tbl_Route] ON 

INSERT [dbo].[tbl_Route] ([idRoute], [idtbl_Company]) VALUES (1, 30)
INSERT [dbo].[tbl_Route] ([idRoute], [idtbl_Company]) VALUES (2, 31)
INSERT [dbo].[tbl_Route] ([idRoute], [idtbl_Company]) VALUES (3, 32)
SET IDENTITY_INSERT [dbo].[tbl_Route] OFF
ALTER TABLE [dbo].[tbl_Airport]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Airport_tbl_City] FOREIGN KEY([idtbl_City])
REFERENCES [dbo].[tbl_City] ([idtbl_City])
GO
ALTER TABLE [dbo].[tbl_Airport] CHECK CONSTRAINT [FK_tbl_Airport_tbl_City]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_tbl_Flight] FOREIGN KEY([idtbl_Flight])
REFERENCES [dbo].[tbl_Flight] ([idtbl_Flight])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_tbl_Flight]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_tbl_Passenger] FOREIGN KEY([idtbl_Crew])
REFERENCES [dbo].[tbl_Crew] ([idtbl_Crew])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_tbl_Passenger]
GO
ALTER TABLE [dbo].[tbl_Flight]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Flight_tbl_Airplane] FOREIGN KEY([idtbl_Airplane])
REFERENCES [dbo].[tbl_Airplane] ([idtbl_Airplane])
GO
ALTER TABLE [dbo].[tbl_Flight] CHECK CONSTRAINT [FK_tbl_Flight_tbl_Airplane]
GO
ALTER TABLE [dbo].[tbl_Flight]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Flight_tbl_Airport] FOREIGN KEY([FromCity])
REFERENCES [dbo].[tbl_Airport] ([idtbl_Airport])
GO
ALTER TABLE [dbo].[tbl_Flight] CHECK CONSTRAINT [FK_tbl_Flight_tbl_Airport]
GO
ALTER TABLE [dbo].[tbl_Flight]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Flight_tbl_Airport1] FOREIGN KEY([ToCity])
REFERENCES [dbo].[tbl_Airport] ([idtbl_Airport])
GO
ALTER TABLE [dbo].[tbl_Flight] CHECK CONSTRAINT [FK_tbl_Flight_tbl_Airport1]
GO
ALTER TABLE [dbo].[tbl_Flight]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Flight_tbl_Company] FOREIGN KEY([idtbl_Company])
REFERENCES [dbo].[tbl_Company] ([idtbl_Company])
GO
ALTER TABLE [dbo].[tbl_Flight] CHECK CONSTRAINT [FK_tbl_Flight_tbl_Company]
GO
ALTER TABLE [dbo].[tbl_Flight]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Flight_tbl_Route] FOREIGN KEY([idRoute])
REFERENCES [dbo].[tbl_Route] ([idRoute])
GO
ALTER TABLE [dbo].[tbl_Flight] CHECK CONSTRAINT [FK_tbl_Flight_tbl_Route]
GO
/****** Object:  StoredProcedure [dbo].[CreateBooking]    Script Date: 15/05/2019 10:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateBooking] 

@mail varchar(255),
@FlightNumber varchar(255)

AS

declare @idCrew int
--declare @Companyid int
--declare @a int
--declare @b varchar(255)

--declare @FlightNumber varchar(255)


--set @Companyid = (select [idtbl_Company] from [dbo].[tbl_Company] where [Name] like @Company)


--set @a = (select  UPPER([Symbol]) from [dbo].[tbl_Company] where  @Companyid=[idtbl_Company])

--set @b = (select count([idtbl_Flight]) + 1 from [dbo].[tbl_Flight] )


--set @FlightNumber= (select concat(@a , @b))


set @idCrew = (select [idtbl_Crew] from [dbo].[tbl_Crew] where @mail like [EmailAddress]) 

insert into [dbo].[tbl_Booking] ([idtbl_Crew],[idtbl_Flight]) values (@idCrew,@FlightNumber)


GO
/****** Object:  StoredProcedure [dbo].[CreateFlight]    Script Date: 15/05/2019 10:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateFlight]
@FromCity varchar(255),
@ToCity varchar(255),
@DepartureDate datetime,
@ArrivalDate datetime,
@StopOver Bit ,
@status varchar(255),
@Company varchar(255),
@idRoute int,
@AirplaneName varchar(255)

AS
declare @idfromCity int
declare @idToCity int
declare @Companyid int
declare @a varchar(255)
declare @b varchar(255)
declare @c int
declare @FlightNumber varchar(255)
declare  @Airplane int





set @Companyid = (select [idtbl_Company] from [dbo].[tbl_Company] where [Name] like @Company)



	if(@idroute is null ) 
		begin
		insert into [dbo].[tbl_Route] ([idtbl_Company])values(@Companyid)
		set @idroute= SCOPE_IDENTITY();
	end


set @Airplane =(select [idtbl_Airplane] from [dbo].[tbl_Airplane] where @AirplaneName like [Name])

set @FlightNumber = (select concat(count([idtbl_Flight])+1 , (select  UPPER([Symbol]) from [dbo].[tbl_Company] where [Name] like @Company )  )from [dbo].[tbl_Flight]) 


--set @a = cast((select  UPPER([Symbol]) from [dbo].[tbl_Company] where  @Companyid=[idtbl_Company] )as varchar(255))
--set @b = cast((select count([idtbl_Flight]) + 1 from [dbo].[tbl_Flight] )as varchar(255))
set @idfromCity = (SELECT  tbl_Airport.idtbl_Airport FROM  tbl_City INNER JOIN  tbl_Airport ON tbl_City.idtbl_City = tbl_Airport.idtbl_City where tbl_City.Name Like @FromCity)
set @idToCity   = (SELECT     tbl_Airport.idtbl_Airport FROM  tbl_City INNER JOIN  tbl_Airport ON tbl_City.idtbl_City = tbl_Airport.idtbl_City  where tbl_City.Name Like @ToCity)
 
--set @FlightNumber= (select concat(@a,@b))
	
INSERT INTO tbl_Flight(FlightNumber,FromCity,ToCity,[DepartureDate],[ArrivalDate],[StopOver],[Status],[idtbl_Company],[IdRoute],[idtbl_Airplane]) VALUES (@FlightNumber,@idfromCity,@idToCity,@DepartureDate,@ArrivalDate,@StopOver,@status,@Companyid,@idRoute,@Airplane)
	  
--set @c = (select [idtbl_Crew] from [dbo].[tbl_Crew] where @mail like [EmailAddress]) 

--insert into [dbo].[tbl_Booking] ([idtbl_Crew],[idtbl_Flight]) values (@c,@FlightNumber)


GO
USE [master]
GO
