
@{
    ViewBag.Title = "Index";
}


<table>
    <tbody>
        <tr>
            <td width="30%">
                <div class="alert-warning">Bienvenue</div><h2 class="text-info"> Aéroport d'Arlon </h2><div class="alert-warning">
            </td><td width="30%">
    <h4>
        @Html.ActionLink("Départ", "IndexD", "Home")<img src="~/images/depart.png" />
        @Html.ActionLink("Arrivée", "IndexA", "Home")<img src="~/images/arrivée.png" />
    </h4>
</td>
                 <td width="40%">
                     @Html.ActionLink("Liste de tout les vols ", "ListVols", "Home") <img src="~/images/vols.png" />"
                 </td>
        </tr>
    </tbody>
</table>

